
.nav-bar {
    width: 280px; /* 可以根据需要调整宽度 */
    height: 100vh; /* 视口的完整高度 */
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333; /* 背景颜色，可以根据需要修改 */
    color: white;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中对齐 */
}

.nav-bar ul {
    list-style: none; /* 移除列表标记 */
    padding: 0; /* 移除默认的内边距 */
    margin: 0; /* 移除默认的外边距 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中列表项 */
}

.nav-bar li {
    /* 可根据需要添加样式，如间距等 */
    margin-bottom: 30px; /* 为列表项添加间距 */
}

.nav-bar a {
    color: white;
    text-decoration: none;
    /* 可根据需要添加样式 */
}

/* 可能需要根据实际效果进一步调整 */



.news-sidebar {
    width: 300px; /* Adjust as needed */
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Makes it scrollable */
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f3f3f3;
    /* Add more styling as needed */
}
a {
    text-decoration: none;
    color: #00aaff;  /* 这是一个浅蓝色的十六进制颜色代码 */
    font-weight: bold;  /* 这会使超链接文字加粗 */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

p {
    line-height: 1.8;  /* 这将设置行间距为字体大小的1.6倍 */
}

ul{
    line-height: 1.9;
}


.nav-bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.container {
    width: 60%;  /* 减小宽度 */
    max-width: 800px;  /* 设定最大宽度 */
    margin: auto;
    background-color: #fff;
    padding: 50px;  /* 增加内边距 */
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    gap: 20px;
}

.header img {
    /*border-radius: 50%;*/
    /*border-radius: 1px;*/
}

.left img {
    border-radius: 5px;  /* 调整为你想要的圆角大小，或删除此行以获得完全方形的图像 */
}

.right {
    max-width: 500px;
}

.right h1, .right p {
    margin: 0;
    margin-bottom: 10px;
}

.section {
    margin-top: 20px;
}
