
.nav-bar {
    width: 100%; /* 导航栏宽度设置为100% */
    position: fixed; /* 固定位置 */
    top: 0; /* 距离顶部0，意味着它会固定在顶部 */
    left: 0; /* 距离左侧0，确保导航栏横跨整个页面 */
    z-index: 1000; /* 设置一个高的z-index值确保导航栏在其他内容上面 */
    background-color: #333; /* 您可以设置您喜欢的背景颜色 */
    color: white; /* 文本颜色 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 可选：添加一些阴影效果 */
    /* 其他您想要的样式 */
}

.nav-bar ul {
    list-style-type: none; /* 移除列表前的点 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 移除默认的内边距 */
    display: flex; /* 使用flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.nav-bar li {
    display: inline; /* 将列表项设置为行内元素 */
    margin-right: 20px; /* 在列表项之间添加一些空间，根据需要调整 */
}

.nav-bar a {
    text-decoration: none; /* 移除链接下划线 */
    color: white; /* 设置文字颜色 */
    /* 可以根据需要添加更多样式 */
}


/* 可能需要根据实际效果进一步调整 */



.news-sidebar {
    width: 100%; /* Full width of its container */
    height: 200px; /* Height to fit content or a specific height if you want a scrollbar */
    overflow-y: auto; /* Makes it scrollable if height is less than content */
    background-color: rgb(235, 242, 248); /* Light blue background color */
    /* Add more styling as needed */
    /* Remove the fixed positioning and right: 0; top: 0; properties */
}

.news-sidebar h3 {
    margin-left: 20px; /* 右移动 20px，可根据需要调整 */
}


a {
    text-decoration: none;
    color: #00aaff;  /* 这是一个浅蓝色的十六进制颜色代码 */
    font-weight: bold;  /* 这会使超链接文字加粗 */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    background-color: #f0f0f0;
}

p {
    line-height: 1.8;  /* 这将设置行间距为字体大小的1.6倍 */
    text-align: justify;
    text-justify: inter-word;
}


ul{
    line-height: 1.9;
}


.nav-bar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}


.container {
    width: 60%;  /* 减小宽度 */
    max-width: 800px;  /* 设定最大宽度 */
    margin: auto;
    background-color: #fff;
    padding: 50px;  /* 增加内边距 */
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    gap: 20px;
}

.header img {
    /*border-radius: 50%;*/
    /*border-radius: 1px;*/
}

.left img {
    border-radius: 5px;  /* 调整为你想要的圆角大小，或删除此行以获得完全方形的图像 */
}

.right {
    max-width: 500px;
}

.right h1, .right p {
    margin: 0;
    margin-bottom: 10px;
}

.section {
    margin-top: 20px;
}
